{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h1>Profile Page</h1>

    <div class="profile-content">
        <div class="profile-image">
            <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'accounts/images/default_profile.jpg' %}{% endif %}"
                 alt="Profile Picture">
        </div>

        <div class="profile-info">
            <h2 class="profile-info-name"><b>Name:</b> {{ user.username }}</h2>
            {% if user.is_authenticated and user.profile.is_seller %}
            <h4 class="profile-info-user-type"><b>User-type:</b> Seller</h4>

            {% if user.seller_profile %}
                <h4 class="profile-info-seller-type"><b>Seller-type:</b> {{ user.seller_profile.type }}</h4>
                {% if user.seller_profile.type == 'Real Estate Agency' %}
                    <h4 class="profile-info-street-address"> <b>Street Address:</b> {{ user.seller_profile.street_address }}</h4>
                {% endif %}
            {% endif %}

            {% else %}
            <h3 class="profile-info-user-type">User-type: Buyer</h3>
            {% endif %}
            <div class="profile-details">
                <h5 class="profile-info-additional-info">Additional Information: </h5>
                <p class="profile-info-email"><b>Email: {{ user.email }}</b></p>
                {% if user.profile.phone %}
                <p class="profile-info-phone-number"><b>Phone:</b> {{ user.profile.phone }}</p>
                {% endif %}
                {% if user.seller_profile %}
                <p class="profile-info-bio"><b>Bio:</b> {{ user.seller_profile.bio }}</p>
                {% endif %}
            </div>
            <div class="profile-actions">
                <button onclick="window.location.href='{% url 'accounts:update_profile' %}'" class="button">Update Profile</button>
                <button onclick="window.location.href='{% url 'accounts:logout' %}'" class="button">Logout</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}