.profile-container h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 2rem auto;
    border-bottom: 1px solid;
}

.profile-content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.profile-image img {
    border-radius: 50%;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.profile-info h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.profile-details h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.profile-container p {
    margin-bottom: 0.5rem;
}

