{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/finalize_purchase.css' %}">
{% endblock %}

{% block content %}
<div class="finalize-container">
    <h2>Finalize Your Purchase: Step 1 of 4</h2>
    <h3>Contact Information</h3>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.street_address.label_tag }}
            {{ form.street_address }}
            {{ form.street_address.errors }}
        </div>
        
        <div class="form-group">
            {{ form.city.label_tag }}
            {{ form.city }}
            {{ form.city.errors }}
        </div>
        
        <div class="form-group">
            {{ form.postal_code.label_tag }}
            {{ form.postal_code }}
            {{ form.postal_code.errors }}
        </div>
        
        <div class="form-group">
            {{ form.country.label_tag }}
            {{ form.country }}
            {{ form.country.errors }}
        </div>
        
        <div class="form-group">
            {{ form.national_id.label_tag }}
            {{ form.national_id }}
            {{ form.national_id.errors }}
        </div>
        
        <div class="action-buttons">
            <a href="{% url 'offers:offers' %}" class="back-button">Back</a>
            <button type="submit" class="continue-button">Continue to Payment</button>
        </div>
    </form>
</div>
{% endblock %}