{% load static %}
<!-- Navigation Bar -->
{#{% if user.is_authenticated and user.profile.is_seller %}#}
{#<nav class="nav-bar">#}
{#    <div class="nav-content">#}
{#        <a href="/" class="nav-logo">#}
{#            <img src="{% static 'images/logo.png' %}?v=1" alt="Castle Apartments Logo" class="nav-logo">#}
{#        </a>#}
{#        <ul class="nav-links">#}
{#            <li><a href="{% url 'home:homepage' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>#}
{#            <li><a href="" class="nav-link"><i class="fas fa-building"></i> My Listings</a></li>#}
{#            <li><a href="{% url 'offers:myoffers' %}" class="nav-link"><i class="fas fa-handshake"></i> My Offers</a></li>#}
{#            <li><a href="{% url 'favorites' %}" class="nav-link"><i class="fas fa-heart"></i> Favorites</a></li>#}
{#        </ul>#}
{#        <div class="profile-container">#}
{#            <a href="{% url 'profile' %}" class="nav-link profile-link">#}
{#                {% if user.profile.image %}#}
{#                    <div style="width: 32px; height: 32px; border-radius: 50%; background-image: url('{{ user.profile.image.url }}'); background-size: cover; background-position: center; margin-right: 8px; display: inline-block; vertical-align: middle;"></div>#}
{#                {% else %}#}
{#                    <i class="fas fa-user-circle" style="font-size: 32px; width: 32px; height: 32px; margin-right: 8px; display: inline-block; vertical-align: middle;"></i>#}
{#                {% endif %}#}
{#                <span>Profile</span>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
{#{% else %}#}
<nav class="nav-bar">
    <div class="nav-content">
        <a href="/" class="nav-logo">
            <img src="{% static 'images/logo.png' %}?v=1" alt="Castle Apartments Logo" class="nav-logo">
        </a>
        <ul class="nav-links">
            <li><a href="{% url 'home:homepage' %}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="{% url 'properties:property_listings' %}" class="nav-link"><i class="fas fa-building"></i> Listings</a></li>
            {% if user.profile.is_seller %}
                <li><a href="{% url 'sellers:my_listings' %}" class="nav-link"><i class="fas fa-clipboard-list"></i> My Listings</a></li>
                <li><a href="{% url 'offers:myoffers' %}" class="nav-link"><i class="fas fa-handshake"></i> My Offers</a></li>
            {% else %}
                <li><a href="{% url 'offers:offers' %}" class="nav-link"><i class="fas fa-handshake"></i> Offers</a></li>
            {% endif %}
            <li><a href="{% url 'accounts:favorites' %}" class="nav-link"><i class="fas fa-heart"></i> Favorites</a></li>
        </ul>
        <div class="profile-container">
            <a href="{% url 'accounts:profile' %}" class="nav-link profile-link">
                {% if user.profile.image %}
                    <div style="width: 32px; height: 32px; border-radius: 50%; background-image: url('{{ user.profile.image.url }}'); background-size: cover; background-position: center; margin-right: 8px; display: inline-block; vertical-align: middle;"></div>
                {% else %}
                    <i class="fas fa-user-circle" style="font-size: 32px; width: 32px; height: 32px; margin-right: 8px; display: inline-block; vertical-align: middle;"></i>
                {% endif %}
                <span>Profile</span>
            </a>
        </div>
    </div>
</nav>
